body {
  counter-reset: point-num 0;
}

article {
  background-color: rgba(223, 255, 220, 0.771);
}

#editor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
section#point-section {
  width: 100%;
}
#map-container {
  width: 50%;
}
#map {
  width: 100%;
  min-height: 40vh;
  height: 80vh;
}
.point-number::before {
  counter-increment: point-num 1;
  content: counter(point-num);
}
#point-wrapper {
  width: 500px;
  height: 80vh;
  overflow-y: scroll;
}
#point-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.point-box {
  margin: 1em;
  padding: 1em;
  border: 1px dotted black;
  border-radius: 2.5em;
  width: 400px;
  min-width: 300px;
  max-width: 500px;
}

.del-button::before {
  content: '×';
}
.del-button {
  color: white;
  position: absolute;
  right: 0.5em;
  background-color: rgba(255, 46, 46, 0.807);
  border: none;
  border-radius: 4px;
  padding: 0.4em;
}

pre.code {
  width: 90%;
  height: 85%;
}
input:required:not(:read-only) {
  background-color: lightgoldenrodyellow;
}
input.lat,
input.lng {
  width: 6em;
}
